/*
    1. Default (line 18)
    2. Sub Header (line 76) 
    3. Main header (line 199)
    4. Modal ( line 295 )
    5. Page-info (line 443)
    6. Products (line 530)
    7. Footer (line 730)
    
*/


/*=============================
         - Default -
===============================*/

*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    position: relative;
}

.wrapper{
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.content-padding{
    padding: 0 120px;
}

.main{
    flex: 1 0 auto;
    
    padding-top: 130px;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;

    &:active{
        border: none;
    }
}

/*=============================
         - Sub Header -
===============================*/
.sub-header{
    height: 30px;

    background-color: #000;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-header__contact{
    font-size: 11px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Arial";
    text-transform: uppercase;

}

.sub-header__tel{
    text-decoration: none;
    font-style: 12px;
    color: #fff;
}

.sub-header__accout-settings{
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.currency-select{
    margin-right: auto;

    background: #000;
    color: #fff;
    border: none;
}

.sub-header__account{
    font-size: 11px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Arial";
    text-transform: uppercase;
    
    position: relative;
}

.sub-header__account .account__list{
    display: none;
    position: absolute;
    top: 100%;
}

.sub-header__account:hover > .account__list{
    display:inherit;
}

.sub-header__account .account__list .account__item {
    float:none;
    display:list-item;
    position: relative;
}

.account__icon{
    margin-right: 10px;
}

.account__list{
    margin: 0;
    padding: 0;
    width: 150px;
    
    list-style: none;
    background-color: #000;
}

.account__item{
    padding: 5px 0 5px 5px;
}


.account__item:not(:last-child){
    margin-bottom: 5px;
}

.account__item:last-child{
    padding-top: 3px;
    border-top: 1px solid #c2c2c2;
}

.account__item:first-child{
    margin-top: 10px;
}

.account__item:hover{
    background-color: #fff;
}

.account__item:last-child:hover{
    background-color: #c2c2c2;
}

.account__item:hover > .account__link{
    color: #000;
}

.account__link{
    text-decoration: none;
    color: #fff;
}

/*=============================
         - Main Header -
===============================*/

.main-header{
    height: 100px;

    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn{
    margin-left: 15px;

    background: transparent;
    border: none;
    
    display: none;
}

.menu-btn__icon{
    font-size: 32px;
}

.logo-img{
    max-width: 200px;
    margin-right: auto;
}

.nav-menu__list{
   margin-right: 75px;

   display: flex;
   justify-content: space-between;
}

.nav-menu__item{
    margin: 0;
    margin-right: 15px;
}

.nav-menu__link{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Arial";
    
    &:hover{
        opacity: .8;
    }
}


.nav-menu__btn{
    width: 100%;
    
    text-decoration: none;
    color: #000;
}

.cart__link:hover{
    opacity: .5;
}

.cart__link{
    background: transparent;
    border: none;
    color: #000;

    display: flex;
    align-items: center;
}

.cart__amount{
    margin: 0 10px 0 10px;
    padding-right: 10px;
    border-right: 1px solid #c2c2c2;
}

.cart__modal {
    display: none; 
    position: fixed; 
    z-index: 5; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/*=============================
         - Modal -
===============================*/

.modal__content {
    margin: auto;
    padding: 0;
    width: 50%;
    height: 75%;

    background-color: #fff;
    border: 5px solid #c5c5c5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    position: relative;

}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1;}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal__close {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__header {
    padding: 2px 16px;

    background-color: #d3d3d3;
    color: #000;
}

.modal__wrapper{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.modal__body {
    padding: 15px 16px;
    padding-bottom: 50px;

    color: #8d8d8d;
    overflow: scroll;

    flex-grow: 1;
}

.modal__footer {
    height: 70px;
    padding: 5px 16px;

    background-color: #fff;
    color: #000;
    transform: translateY(-100%);
    border: 1px solid #c5c5c5;

    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__btn{
    width: 70px;
    height: 50px;

    background: #d3d3d3;
    border-bottom: 3px solid #c5c5c5;
}

.cartItem{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 10px;
}

.cartItem__img--wrapper{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
}
.cartItem__img{
    width: 100%;
    transform: scale(3);
    /* height: 100%; */
}

.cartItem__descr--wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartItem__btn{
    background: transparent;
    border: none;
}

.cartItem__name{
    cursor: pointer;
    font-size: 32px;
    color: #8d8d8d;
    flex: 1 0 auto;
}

.cartItem__name:hover{
    color: #5e5e5e;
}

.cartItem__amount-bar{
    margin-right: 25px;
    color: #000;
}

.cartItem__price{
    color: #000;
}

.cartItem__close{
    margin-left: 5px;
    background: transparent;
    border: none;
    font-size: 24px;
}




/*=============================
         - Page info -
===============================*/
.page-info{
    height: 60px;
    padding-bottom: 10px;

    border-bottom: 1px solid #c2c2c2;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sort{
    font-size: 11px;
    letter-spacing: 0px;
    color: #4d4d4d;
    font-family: "Arial";
}

.sort__select{
    width: 100px;
    height: 30px;
    padding-left: 10px;

    border: none;
    font-size: 11px;
    letter-spacing: 0px;
    color: #4d4d4d;
    font-family: "Arial";
    background: #F4F4F4;

    position: relative;
}

.sort__select:hover, .sort__select:active{
    background: #e5e5e5;
}

.pages{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.pages__btns{
    margin-left: 20px;

    display: flex;
    align-items: center;
}

.pages__btn{
    height: 30px;
    width: 30px;
    margin-left: 5px;

    background: #F4F4F4;
    border: none;
    font-size: 11px;
    letter-spacing: 0px;
    color: #4d4d4d;
    font-family: "Arial";

    display: flex;
    align-items: center;
    justify-content: center;
}

.pages__btn.active{
    background: #E5E5E5;
}

.pages__btn:hover{
    background: #c2c2c2;
}

.page-info--bottom{
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*=============================
         - Products -
===============================*/

.products{
    padding-top: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 2vw;
}

.product{
    height: 430px;

    font-size: 5vw;
    background: #F9F5F4;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__link{
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product:hover{
    background: rgb(231, 227, 226)
}

.product:hover .product__img--wrapper::after{
    opacity: .1;
}

.product__img--wrapper{
    height: 290px;
    width: 90%;
    background: #fff;
    margin-top: 15px;

    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__img--wrapper:after{
    content: '';
    width: 100%;
    height: 100%;

    background: #000;
    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;
}

.product__img{
    width: 100%;
}

.product__title{
    margin: 0;
    margin-top: 10px;

    font-size: 12px;
    letter-spacing: 0px;
    color: #373737;
    font-family: "Arial";
    text-align: center;
    text-transform: uppercase;
}

.product__price{
    margin-top: 10px;

    font-size: 22px;
    letter-spacing: 0px;
    color: #373737;
    font-family: "Arial";
    text-align: center;

    display: block;
}

.product__btn{
    margin-top: 10px;
    padding: 0;
    width: 135px;
    height: 35px;

    cursor: pointer;
    box-shadow: 0px 3px 0px #dd6b44;
    background-color: #fd916d;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform .1s linear;

}

.product__btn:hover{
    transform: scale(1.1);
}

.product__btn-icon{
    margin-left: 2px;
    font-size: 18px
}

.print-text{
    margin-top: 10px;

    font-size: 12px;
    letter-spacing: 0px;
    color: #373737;
    font-family: "Arial";

    display: none;
}

.underline{
    text-decoration: underline;
}

@media print {
    .product__btn{
        display: none;
    }

    .print-text{
        display: inline-block;
    }

}


.product__price[data-descr]{
    position: relative;
}

.product__price[data-descr]::after{
    content: attr(data-descr);

    color: red;
    font-size: 0.6em;
    text-decoration: line-through;

    position: absolute;
    right: -5px;
    top: 0;
    transform: translateX(100%);
}

/*=============================
         - Product info -
===============================*/
#product-modal {
    display: none; 
    position: fixed; 
    z-index: 5; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}

.product-modal__content {
    margin: auto;
    padding: 0;
    width: 80%;
    height: 75%;

    background-color: #F9F5F4;;
    border: 5px solid #c5c5c5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    position: relative;

}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1;}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.product-modal__close {
    margin-right: 10px;

    text-decoration: none;
    color: #000;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.product-modal__close:hover,
.product-modal__close:focus {
    opacity: .8;

    cursor: pointer;
}

.product-modal__body{
    margin: 20px;
    height: 95%;

    display: flex;
}

.product-modal__img{
    width: 45%;
    max-height: 100%;
}

.product-modal__info{
    margin-left: 30px;
    width: 100%;
    
    text-align: right;

    display: flex;
    flex-direction: column;
}

.product-modal__title{
    margin-bottom: 20px;

    font-size: 32px;
    font-family: "Arial";
    letter-spacing: 0;
}

.product-modal__price{
    position: relative;
    display: inline-block;

    font-size: 24px;

    &[data-descr]::after{
        content: attr(data-descr);
    
        color: red;
        font-size: 0.6em;
        text-decoration: line-through;
    
        position: absolute;
        right: 0;
        top: -10px;

        z-index: 10;
    }
}

.product-modal__descr{
    height: 60%;

    overflow-y: scroll;
    font-size: 18px;
    text-align: left;
    
}


/*=============================
         - Footer -
===============================*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Stick to bottom */
    flex: 0 0 auto;
}

.footer__pay-systems{
    height: 60px;
    margin: 0;

    background-color: #F7F7F7;
    color: #414141;
    letter-spacing: 0;
    font-size: 12px;
    font-family: "Arial", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-systems{
    margin-left: 20px;
    width: 430px;

    display: flex;
    justify-content: space-between;
}

.footer__menu{
    height: 200px;

    background-color: #EDEDED;
}

.footer__menu-list{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    list-style: none;

    display: flex;
    justify-content: space-between;

}



.footer__contacts{
    height: 70px;
    margin: 0;

    background-color: #000;
    color: #8d8d8d;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rights{
    margin-left: auto;

    text-align: right;
    line-height: 18px;
    font-size: 11px;
}

.social-img{
    width: 35px;
    height: 35px;
}


/*=============================
         - Footer -
===============================*/

.order{
    display: none;
    position: fixed; 
    z-index: 5; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}

.order__content{
    margin: auto;
    padding: 0;
    width: 50%;
    height: 75%;

    background-color: #fff;
    border: 5px solid #c5c5c5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    position: relative;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1;}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.order__close {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.order__close:hover,
.order__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.order__header {
    padding: 2px 16px;

    background-color: #d3d3d3;
    color: #000;
}
.order__form {
    padding: 15px 16px;
    padding-bottom: 50px;
    height: 75%;

    color: #8d8d8d;
    font-size: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.order__item:not(:last-child){
    margin-bottom: 20px;
}



.order__btn{
    width: 150px;
    height: 50px;

    background: #d3d3d3;
    border-bottom: 3px solid #c5c5c5;
}

.last-message{
    height: 90%;
    width: 100%;

    font-size: 24px;
    color: #fd916d;


    display: flex;
    justify-content: center;
    align-items: center;
}